<h1>{{ title }}</h1>
<a href="countries/new" class="btn btn-primary" role="button" aria-disabled="true">新規作成</a>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">国名</th>
      <th scope="col">詳細</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each countries}}
      <tr>
        <th scope="row">{{ id }}</th>
        <td>{{ name }}</td>
        <td>{{ description }}</td>
        <td>
          <a href="countries/{{ id }}/edit" class="btn btn-secondary" role="button" aria-disabled="true">編集</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>