<h1>{{ title }}</h1>
<a href="/admin/composers/new" class="btn btn-primary" role="button" aria-disabled="true">新規作成</a>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">名前</th>
      <th scope="col">フルネーム</th>
      <th scope="col">国</th>
      <th scope="col">詳細</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each composers}}
      <tr>
        <th scope="row">{{ id }}</th>
        <td>{{ lastName }}</td>
        <td>{{ fullName }}</td>
        <td>
          {{#each countries}}
            {{name}}, 
          {{/each}}
        </td>
        <td>{{ description }}</td>
        <td>
          <a href="composers/{{ id }}/edit" class="btn btn-secondary" role="button" aria-disabled="true">編集</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
