<h1>{{ title }}</h1>
<a href="/admin/composers" class="btn btn-primary" role="button" aria-disabled="true">作曲家一覧</a>
{{!-- TODO 共通化 --}}
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">名前</th>
      <th scope="col">フルネーム</th>
      <th scope="col">国</th>
      <th scope="col">詳細</th>
      <th scope="col">作成者</th>
      <th scope="col">トップ表示</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each composers}}
    <tr>
      <th scope="row">{{ id }}</th>
      <td>{{ displayName }}</td>
      <td>{{ fullName }}</td>
      <td>
        {{#each countries}}
        {{name}},
        {{/each}}
      </td>
      <td>{{ description }}</td>
      <td>{{ author }}</td>
      <td>{{ isTopPageLinked }}</td>
      <td>
        <a href="/admin/composers/{{ id }}/edit" class="btn btn-secondary" role="button" aria-disabled="true">編集</a>
      </td>
    </tr>
    {{/each}}
  </tbody>
</table>