<h1>{{ title }}</h1>
<a href="/admin/tunes/new" class="btn btn-primary" role="button" aria-disabled="true">新規作成</a>
<span class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    曲に紐づく演奏記録のポイント集計
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <a href="/admin/aggrAveragePoint/tunes/all" class="btn btn-danger" role="button" aria-disabled="true">実行(重い処理なのでむやみやたらに実行しないように)</a>
  </div>
</span>

<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">作曲者</th>
      <th scope="col">曲名</th>
      <th scope="col">詳細</th>
      <th scope="col">操作</th>
    </tr>
  </thead>
  <tbody>
    {{#each tunes}}
      <tr>
        <th scope="row">{{ id }}</th>
        <td>{{ composer.fullName  }}</td>
        <td>{{ title }}</td>
        <td>{{ description }}</td>
        <td>
          <a href="/admin/tunes/{{ id }}/edit" class="btn btn-secondary" role="button" aria-disabled="true">編集</a>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>