<h1>{{ title }}</h1>
<table class="table">
  <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">ユーザ名</th>
      <th scope="col">メールアドレス</th>
      <th scope="col">ニックネーム</th>
      <th scope="col">詳細</th>
    </tr>
  </thead>
  <tbody>
    {{#each users}}
      <tr>
        <th scope="row">{{ id }}</th>
        <td>{{ username }}</td>
        <td>{{ mailAddress }}</td>
        <td>{{ nickname }}</td>
        <td>{{ description }}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
