<form>
  <div class="form-group">
    <label for="lastName">名前</label>
    <input type="text" class="form-control" id="lastName" name="lastName" placeholder="ベートーヴェン" value="{{ composer.lastName }}">
  </div>
  <div class="form-group">
    <label for="fullName">フルネーム</label>
    <input type="text" class="form-control" id="fullName" name="fullName" placeholder="ルードヴィヒ・ヴァン・ベートーヴェン" value="{{ composer.fullName }}">
  </div>
  <div class="form-group">
    <label for="countries">出身国</label>
    <select multiple class="form-control" id="countries" name='countryIds[]'>
      {{#each countries}}
        <option value="{{ id }}" {{isSelectedCountrty this ../composer }}>{{ name }}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="description">詳細</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{ composer.description }}</textarea>
  </div>
  <button type="submit" formaction="{{formaction}}" formmethod="POST" class="btn btn-primary">保存</button>
</form>