<form>
  <div class="form-group">
    <label for="composer">作曲者</label>
    <select class="form-control" id="composer" name='composerId'>
      {{#each composers}}
        <option value="{{ id }}" {{isSelectedComposer this ../tune}}>{{ fullName }}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="title">曲名</label>
    <input type="text" class="form-control" id="title" name="title" placeholder="交響曲第1番 ニ長調「巨人」" value="{{ tune.title }}">
  </div>
  <div class="form-group">
    <label for="playstyle">演奏形態</label>
    <select class="form-control" id="playstyle" name='playstyleId'>
      {{#each playstyles}}
        <option value="{{ id }}" {{isSelectedPlaystyle this ../tune}}>{{ name }}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="genres">ジャンル</label>
    <select multiple class="form-control" id="genres" name='genreIds[]'>
      {{#each genres}}
        <option value="{{ id }}" {{isSelectedGenre this ../tune }}>{{ name }}</option>
      {{/each}}
    </select>
  </div>
  <div class="form-group">
    <label for="description">詳細</label>
    <textarea class="form-control" id="description" name="description" rows="3">{{ tune.description }}</textarea>
  </div>
  <button type="submit" formaction="{{formaction}}" formmethod="POST" class="btn btn-primary">保存</button>
  {{#if showContinueButton}}
    <button type="submit" formaction="{{formaction}}?isContinue=true" formmethod="POST" class="btn btn-primary">保存して作成を続ける</button>
  {{/if}}
</form>